/*
 First External CSS Stylesheet
 */
/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #dcdcdc;
}

.container {
  margin-right: 0px;
  margin-left: 0px;

  }

.container-fluid {
  margin-right: 0px;
  margin-left: 0px;
  }



header {
  background: #333;
}

h1 {
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  background: purple;
  color: white;
  left: 0%;
  right: 0%;
  text-align: center;
}




h6 {
  background: grey;
  color: black;
  text-align: center;
  padding: 20px;
  padding-right:15px;
  position: absolute;
  left: 0%;
  right: 0%;
  margin-top: 0;
}


h2 {
  font-size: 24px;
}
a {
  color: purple;
}
/* Selecting elements by class */
.container {
  width: 1024px;
  margin: 0 auto;
}

.gap-right {
  margin-right: 20px;
}

.gap-below {
  margin-bottom: 25px;
}

#figure {
  position: relative;
}
#bio-name {
  position: absolute;
  top: 150px;
  left: 30px;
}

img {
   padding:1px;
   border:1px solid #021a40;
}

.hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #ccc;
   margin: 1em 0;
   padding: 0;
}

#hr {
  height: 10px;
  background: purple;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
